@charset "UTF-8";

@font-face {
   font-family: 'NotoSans-L';
   font-display: auto;
   font-style: normal;
   font-weight: 500;
   src: local('NotoSans-L'),url('https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Light.woff2') format('woff2'),
        url('https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Light.woff') format('woff'),
        url('https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Light.otf') format('opentype');
}

@font-face {
   font-family: 'NotoSans-DL';
   font-display: swap;
   font-style: normal;
   font-weight: 500;
   src: local('NotoSans-DL'),url('https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-DemiLight.woff2') format('woff2'),
        url('https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-DemiLight.woff') format('woff'),
        url('https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-DemiLight.otf') format('opentype');
}

@font-face {
   font-family: 'NotoSans-R';
   font-display: swap;
   font-style: normal;
   font-weight: 500;
   src: local('NotoSans-R'),url('https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff2') format('woff2'),
        url('https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff') format('woff'),
        url('https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.otf') format('opentype');
}

@font-face {
   font-family: 'NotoSans-M';
   font-display: swap;
   font-style: normal;
   font-weight: 500;
   src: local('NotoSans-M'),url('https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Medium.woff2') format('woff2'),
        url('https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Medium.woff') format('woff'),
        url('https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Medium.otf') format('opentype');
}

@font-face {
   font-family: 'NotoSans-B';
   font-display: swap;
   font-style: normal;
   font-weight: 500;
   src: local('NotoSans-B'),url('https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.woff2') format('woff2'),
        url('https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.woff') format('woff'),
        url('https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.otf') format('opentype');
}


@font-face {
   font-family: 'futureX-r';
   font-display: swap;
   font-style: normal;
   font-weight: 500;
   src: local('futureX-r'),url('../fonts/FutureX-Regular.woff') format('woff');
}