@charset "UTF-8";

img{
  max-width: 100%;
}

figure{
  margin: 0;
}

html{
  font-size:16px;
}

body{
  font-weight: lighter;
  line-height: 1.7;
  margin: 0;
}

h1{
  font-size: 22px;
  color: red;
}